/* Body */
#parent {
  font-family: arial;
}

/* Navbar & Logo */
#logo {
  border-radius: 50%;
}

.logo-text {
  font-family: "Audiowide", cursive;
  color: #53512A;
}

.navbar {
  background-color: #FEB100;
}

/* Others */
.time, figcaption {
  font-weight: 200;
}

.top-image {
  width: 100%;
  height: auto;
}

/* Footer */
.footer {
  background-color: #FEB100;
  color: #53512A;
  font-size: 10px;
}