#parent {
  font-family: arial;
}

#logo {
  border-radius: 50%;
}

.logo-text {
  font-family: "Audiowide", cursive;
  color: #53512A;
}

.navbar {
  background-color: #FEB100;
}

.time, figcaption {
  font-weight: 200;
}

.center {
  text-align: center;
}

.top-image {
  width: 100%;
  height: auto;
}